---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Aaron Castillo";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="250" height="250" alt="Aaron Profile Picture" src="/Aaron.Castillo.JPG" style="clip-path: circle(50% at 50%); object-fit: cover; object-position: top;"/>
    </div>
    <h1>Hello!</h1>
    <!-- <span class="badge">Full Stack Developer</span> -->
    <h2>About me</h2>
    <p>
        Hello! I'm Aaron, a dedicated Full-stack Web Developer based in NYC, specializing in JavaScript. I'm driven by a passion for solving complex problems and continuously enhancing my technical skills.
        My journey in web development began at Marcy Labs School, where I began a transformative year of building numerous projects and diving into new technologies. This experience sharpened my abilities in JavaScript, Swift, SQL, and React, fueling my enthusiasm for full-stack development.
        Currently, I'm learning Go, aiming to use it with TypeScript in an upcoming full-stack project. This initiative reflects my commitment to staying at the cutting edge of technology and adapting to the evolving web landscape.

    </p>
    <p>
        My portfolio showcases a range of projects that demonstrate my proficiency across various technologies. Each project underscores my dedication to delivering high-quality work and my ongoing pursuit of professional growth.
        When I'm not coding, you can find me exploring Manhattan on a Citi bike or immersed in Manga (currently Vagabond).
        Feel free to explore my projects and connect with me on LinkedIn or via email at a.castillo3290@gmail.com.

    </p>
    <div class="center">
        <a href="/works/">
            <button class="btn">My Projects</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="TypeScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="React" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg" />
        <img class="skills__img" width="46" height="46" alt="Swift" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/swift/swift-original.svg" />
        <img class="skills__img" width="46" height="46" alt="Pyhton" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg" />
        <img class="skills__img" width="46" height="46" alt="Postgres" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original.svg" />
        <img class="skills__img" width="46" height="46" alt="Figma" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/figma/figma-original.svg" />
        <img class="skills__img" width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
    </div>
</Layout>

