---
---
<footer>
    <div class="center">
        <ul class="footer">
            <li class="icon__btn"><a class="icon__link" href="https://github.com/acastillo3290" target="_blank"><span class="git-icon">GitHub</span></a></li>
            <li class="icon__btn"><a class="icon__link" href="mailto: a.castillo3290@gmail.com"><span class="mail-icon">Email</span></a></li>
            <li class="icon__btn"><a class="icon__link" href="https://www.linkedin.com/in/castillo-aaron/" target="_blank"><span class="linked-in">LinkedIn</span></a></li>
        </ul>
        <small>Made in NYC with 💛</small>
    </div>
</footer>

